.article {

  padding: 0 3em 5em 3em;
  max-width: 900px;

  h1, h2, h3 {
    margin: 2em 0 1em 0;
  }

  h2, h3 {
    font-family: CiscoSansRegular;
  }

  p {
    margin: 0.5em 0;
    line-height: 1.7em;
  }

  // todo use same for code example for xapi node details
  pre {
    margin: 1em 0;
    padding: 1em;
    background: #333;
    color: #b2b2b2;
    border-radius: 0.3em;
    font-family: monospace;
    border: 0;
    line-height: 1.5em;
    font-size: 1.1em;
    white-space: break-spaces;
  }

  ul li {
    list-style-type: disc;
    margin: 1em;
  }

  p > code {
    padding: 0.2em 0.5em;
    background-color: #ededed;
    font-family: monospace;
  }

  strong {
    font-family: CiscoSansRegular;
  }

  a {
    color: #007aa3;
    text-decoration: none;
  }

  a:hover, a:active {
    color: #007aa3;
  }

  td, th {
    border: 1px solid #eee;
    spacing: 0.5em;
    padding: 0.5em;
  }
  table {
    margin: 2em 0;
  }
}
