.filterSettings {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0.5em;
  background: white;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  overflow-x: scroll;
  box-shadow: 0px 1px 7px #0002;

  select, input, button {
    font-size: inherit;
    background: #eee;
    border: 0;
    padding: 0.3em;
    border-radius: 0.3em;
    margin: 0.5em;
    outline: 0;
  }

  button.primary {
    height: 2em;
    padding: 0.3em 1em;
  }

  .active {
    background: #4cb6d6;
    border: 1px solid #02a1d0;
    color: white;
  }
}
