

:root {
  --header-height: 80px;
  --menu-width: 15em;
}

@font-face {
  font-family: 'CiscoSansThin';
  src: url('../fonts/CiscoSansThin.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CiscoSansRegular';
  src: url('../fonts/CiscoSansTTRegular.woff');
  font-weight: normal;
  font-style: normal;
}

body, html, #app {
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: CiscoSansThin, Arial;
  height: 100%;
}

/* main skeleton */

header {
  height: var(--header-height);
}

menu {
  height: calc(100% - var(--header-height));
  width: var(--menu-width);
}

content {
  top: var(--header-height);
  height: calc(100% - var(--header-height));
}

header {
  position: relative;
  width: 100%;
  background: #292929;
  color: white;
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 1.5em;
  border-bottom: 1px solid black;
  padding-right: 5em;

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-grow: 1;
    font-size: 0.7em;
  }

  a {
    font-family: CiscoSansRegular;
    text-decoration: none;
    margin: 0 1em;
  }

  a:hover {
    color: #007aa3;
    text-decoration: none;
  }

  .selected {
    color: #007aa3;
  }

  .search-field {
    margin: 0 1em;

    input {
      border-radius: 2em;
      border: 1px solid transparent;
      padding: 0.8em 3em;
      outline: 0;
      background: #3b3b3b;
      color: white;
      background-image: url('../images/search.png');
      background-position: 1em center;
      background-size: auto 70%;
      background-repeat: no-repeat;
    }
    input:focus {
      border: 1px solid #007aa3;
    }
  }
}

content {
  position: absolute;
  left: var(--menu-width);
  top: var(--header-height);
  width: calc(100% - var(--menu-width));
  height: calc(100% - var(--header-height));
  padding: 3em;
  overflow-y: scroll;
  color: #292929;
  line-height: 1.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  overflow-y: hidden;
}

.api-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  padding: 2em;
  padding-top: 4em;

  .selected {
    font-family: CiscoSansRegular;
  }

  hr {
    background-color: #ddd;
    margin: 1.5em 0;
  }
}

button {
  cursor: pointer;
}

h2 {
  font-size: 1.1em;
}

hr {
  border: none;
  height: 1px;
  background-color: #444;
}

.screen {
  height: 100%;
}

a:hover {
  text-decoration: underline;
}

.node-path a {
  color: #007aa3;
  text-decoration: none;
}

.node-path a:hover {
  text-decoration: underline;
}

content img {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 1em 0;
}

content .info {
  margin: 1em 0;
  font-size: 0.9em;
}

content h1 {
  font-size: 1.6em;
  margin-bottom: 1em;
}

.label {
  display: inline-block;
  background: #eee;
  vertical-align: bottom;
  padding: 0.2em 1em;
  color: white;
  border-radius: 0.5em;
  margin: 0 1em;
  margin-left: 0;
  font-size: 0.5em;
  width: 7em;
  text-align: center;
  text-transform: uppercase;
}

.Status {
  background-color: #00ab50;
}

.Command {
  background-color: #b02792;
}

.Configuration {
  background-color: #00a0d1;
}

.Event {
  background-color: #d97f00;
}

.node-path {
  margin: 1em 0.5em;
}

.api-list section {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  border-top: 1px solid #eee;
  padding-top: 1em;
}

th {
  background: #eee;
  text-align: left;
}

table.links {
  td:first-child {
    min-width: 200px;
  }
  td, th {
    padding: 1em;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

#copy-paste {
  opacity: 0;
  height: 0;
  width: 0;
}

.banner {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 300px;
  overflow: hidden;
  pointer-events: none;

  .bar {
    position: absolute;
    width: 100%;
    top: 2em;
    right: -7em;
    height: 2em;
    line-height: 2em;
    font-size: 1em;
    color: white;
    background: #880808;
    text-align: center;
    transform: rotate(45deg) scale(1);
    transition: transform 0.15s;
    pointer-events: all;
  }
  .bar:hover {
    transform: rotate(45deg) scale(1.1);
  }
}

.logo {
  width: 8em;
  height: 100%;
  background-image: url('../images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

button, a.button {
  border: 0;
  padding: 0.5em 1em;
  border-radius: 5em;
  background: #eee;
}

a.button {
  display: inline-block;
  margin: 1em 0;
}

button.primary, a.button {
  background: #02a1d0;
  color: white;
}

button.primary:hover, a.button:hover {
  background: #007aa3;
  color: white;
  text-decoration: none;
}

.dialog {
  background: white;
  min-width: 200px;
  min-height: 200px;
  border-radius: 1em;
  padding: 2em;
}

button:disabled, input:disabled, textarea:disabled {
  opacity: 0.5;
}

.feedback {
  input, textarea {
    margin: 1em 0;
    background: #eee;
    border: 0;
    border-radius: 1em;
    padding: 1em;
    outline: 0;
  }
  textarea {
    width: 40em;
    height: 10em;
  }
  button {
    margin-right: 1em;
  }
}

.error {
  color: red;
}

.box {
  margin: 1em 0;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  padding: 2em;
  padding-left: 50%;
  background-position: 20% center;
  background-size: auto 50%;
  background-repeat: no-repeat;
}

.box.xapi-teams {
  background-image: url('../images/xapispace.png');
}

.box.cisco-forum {
  background-image: url('../images/forum.png');
}

.rotate-tip {
  display: none;
}
