menu {
  border-right: 1px solid #ccc;
  padding: 0 2em 2em;
  overflow-y: scroll;
}

menu a {
  display: block;
  margin: 0.8em 0;
  color: black;
  text-decoration: none;
}

menu a.selected {
  color: #007aa3;
}

menu h1 {
  margin-top: 3em;
  font-size: 0.8em;
  color: #545454;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.sub-menu {
  margin-left: 1em;
}
