.mobile {

  menu {
    width: 100%;
  }

  content {
    left: 0;
    width: 100%;
  }

  header {
    padding: 0.5em;

    a {
      margin: 0 0.3em;
    }

    .search-field input {
      margin: 0;
      padding: 0.1em;
      padding-left: 2em;
      font-size: 0.9em;
      width: 9em;
    }
  }

  .article {
    padding: 1em;
    overflow-x: hidden;

    h1 {
      margin: 1em 0;
    }
  }

  /** Place node details on top of the node list page */
  .node-details {
    left: 0;
    width: 100%;
  }
}
